{% extends "user/layout.html" %}
{% load static %}

{% block content %}

{% comment %} <script>
  table,
table td {
  border: 1px solid #cccccc;
}

td {
  height: 80px;
  width: 160px;
  text-align: center;
  vertical-align: middle;
}
</script> {% endcomment %}


<div class="container">
    <div class="card p-5">
        <h3 class="text-center">Chemical Details</h3>
        <hr class="hr-center">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">

                    <div class="col-md-6 mt-2">
                        <label for="manufactured_product">Chemical&nbsp;Name&nbsp;:</label>
                    </div>
                    <div class="col-md-6 mt-2">
                      
                        <input type="text" name="manufactured_product" class="form-control" id="manufactured_product" value="{{form.manufactured_product.value|default_if_none:''}}" ><br>
                        
                        <span class="text-danger">{{form.errors.manufactured_product}}</span>
                
                </div>



                <div class="row">

                    <div class="col-md-6 mt-2">
                      <label for="manufactured_quantity">Quantity&nbsp;:</label>
                  </div>
                  <div class="col-md-3 mt-2">
                    
                      <input type="text" name="manufactured_quantity" class="form-control" id="manufactured_quantity" value="{{form.manufactured_quantity.value|default_if_none:''}}" ><br>
                      
                      <span class="text-danger">{{form.errors.manufactured_quantity}}</span>
    
    
              
              </div>
    
              <div class="col-md-3 mt-2">
                <select class="form-control"  class="js-example-basic-single" name="measure" required>
                    {% if measure %}
                    <option value="{{measure}}" selected>{{measure}}</option>
                    {% else %}
                    <option selected >select</option>
                    {% endif %}
                   
                    <option value="kg">kg</option>
                    <option value="gram">gram</option>
                    <option value="litre">litre</option> 
                    <option value="millilitre">millilitre</option>
                </select>
                <span class="text-danger">{{form.errors.measure}}</span>
        </div>




                
          <div class="col-md-6 mt-2">
            <label for="manufactured_quantity">Purchase&nbsp;Price&nbsp;:</label>
        </div>
        <div class="col-md-6 mt-2">
          
            <input type="text" name="purchase_price" class="form-control" id="purchase_price" value="{{form.purchase_price.value|default_if_none:''}}" ><br>
            
            <span class="text-danger">{{form.errors.purchase_price}}</span>
    
    </div>
                <hr class="hr-center">
                <div class=" d-flex justify-content-center mt-2">
                    <button type="submit" class="btn btn-outline-success mx-1">Add</button>
                    
                </div>

                
               
        </form>
    </div>
</div>





    <div class="card mt-3">
      <div class="table-responsive">
        <table class="table table-striped table-bordered  table-hover">
          <thead>

            <tr>
              <th rowspan="2" text-align: center; >S.No</th>
              <th rowspan="2">Chemical&nbsp;Name</th>
              <th rowspan="2">&nbsp;Quantity</th>
              <th rowspan="2">Purchase Amount</th>
              

              <th rowspan="2" >Action</th>
             
             
          
          </tr>
       

          

              
          </thead>
          <tbody>
            <tr>
              {% for i in product %} 
              <td>{{forloop.counter}}</td>
              <td>{{i.manufactured_product}}</td>
              <td>{{i.manufactured_quantity}} {{i.measure}}</td>
              <td>{{i.purchase_price}}</td>
              
            
                  <td> <a href="{% url 'edit_byproduct' i.id  %}"><i class="fa-solid fa-pen-to-square p-2 text-info" ></i></a> 
               <a href="{% url 'delete_byproduct' i.id  %}"> <i class="fa-solid fa-trash text-danger"></i></a></td> 
                 
                  
             
            </tr>
            {% endfor %}
          </tbody>
        </table>
       
      </div>
    </div>
  </div>
  {% endblock content %}




